
<style type="text/css">
.toremove{
	background-color: red;
	color: white;
	font-weight: bold;
}
.toupdate{
	background-color: orange;
}

</style>

<div class="contextual">

</div>
<h2><%= l(:all_dependencies) %></h2>
<% if @dependencies.any? %>
<div class="autoscroll">
<table class="list">
  <thead><tr>
  <th><%= link_to l(:field_project), {:action => 'indexall', :field => 'project_id', :order => ((@field=='project_id' && @order=='ASC')? 'DESC' : 'ASC')} %></th>
  <th><%= link_to l(:field_name), {:action => 'indexall', :field => 'library', :order => ((@field=='library' && @order=='ASC')? 'DESC' : 'ASC')} %></th>
  <th><%= link_to l(:field_version), {:action => 'indexall', :field => 'version', :order => ((@field=='version' && @order=='ASC')? 'DESC' : 'ASC')} %></th>
  <th><%= link_to l(:field_state), {:action => 'indexall', :field => 'state', :order => ((@field=='state' && @order=='ASC')? 'DESC' : 'ASC')} %></th>
  <th><%= link_to l(:field_update_to), {:action => 'indexall', :field => 'to_library', :order => ((@field=='to_library' && @order=='ASC')? 'DESC' : 'ASC')} %></th>
  <th><%= link_to l(:field_update_to_version), {:action => 'indexall', :field => 'to_version', :order => ((@field=='to_version' && @order=='ASC')? 'DESC' : 'ASC')} %></th>
  <th><%= link_to l(:field_last_update), {:action => 'indexall', :field => 'updated_at', :order => ((@field=='updated_at' && @order=='ASC')? 'DESC' : 'ASC')} %></th>
    <th></th>
    <th></th>
  </tr></thead>
  <tbody>
<% for dependency in @dependencies -%>
  <tr class="<%= (dependency.do_remove == true)? "toremove":"" %> <%= (dependency.do_update == true)? "toupdate":"" %> <%= cycle("odd", "even") %>">
  <td class=""><% if dependency.project == nil then %>-<% else %><%= link_to dependency.project.name, {:controller => 'cua_project_dependencies', :action=> 'index', :project_id => dependency.project} %><% end %></td>
  <td class=""><%= dependency.library %></td>
  <td class=""><%= dependency.version %></td>
  <td class=""><%= dependency.state %></td>
  <td class=""><%= dependency.to_library %></td>
  <td class=""><%= dependency.to_version %></td>
  <td class=""><%= format_time(dependency.updated_at) %></td>
    <td class="buttons">&nbsp;
    </td>
  </tr>
<% end -%>
  </tbody>
</table>
</div>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% content_for :sidebar do %>
<h3><%= l(:state_count) %></h3>
<% if @states.any? %>
<div class="">
<table class="list">
  <thead><tr>
  <th><%= l(:field_state) %></th>
  <th><%= l(:field_count) %></th>
  </tr></thead>
  <tbody>
<% for state in @states -%>
  <tr class="<%= cycle("odd", "even") %>">
  <td class=""><%= l(state[0]) %></td>
  <td class=""><%= state[1] %></td>
  </tr>
<% end -%>
  </tbody>
</table>
</div>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
<% end %>
