= error_messages_for 'cua_setting'

= form_for @cua_setting, url:  cua_settings_save_path(@project),
                             html: { method: :put } do |f|

  %div{ class: 'box tabular' }
    %p
      %label= l(:label_cua_lock_path)
      = f.text_field :lock_path, size: 50
      %br
      %em= l(:label_cua_lock_path_desc)

    %p
      %label= l(:label_cua_php_bin)
      = f.text_field :php_bin, size: 50
      %br
      %em= l(:label_cua_php_bin_desc)

    %p
      %label= l(:label_cua_check_update)
      = bootstrap_switch_tag do
        = f.check_box :check_update, {}, 'true'

    %p
      %label= l(:label_cua_check_security)
      = bootstrap_switch_tag do
        = f.check_box :check_security, {}, 'true'

    %br
    = submit_tag l(:button_save)
    
